:root {
    --main-font: 'IBM Plex mono';
    --main-font-weight: 400;
    --main-font-size: 1.125rem;
    --main-line-height: 1.5rem;
    --header-title-font-size: 9.812rem;
    --header-title-line-height: 8.125rem;
    --padding: 1.25rem;
}

@media (max-width: 1022px) {
    :root {
        --header-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        --header-title-line-height: clamp(6.1875rem, 0.375rem + 12.1094vw, 8.125rem);
    }
}

@media (max-width: 766px) {
    :root {
        --padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
        --header-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
        --header-title-line-height: clamp(5.9375rem, 5.699rem + 1.0178vw, 6.1875rem);
    }
}